
body {
    margin: 10px;
    line-height:0.6;
    background-color: #131313;
}

.spacing {
    line-height:1.5rem;
}

.border-remove {
    background-color: black;
    border-left: 1px solid #282828;
    border-right: 1px solid #282828;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
}

.lr {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    text-decoration-style: solid;
    position: absolute;
    bottom: 155px;
    left: 7px;
    color: white;

}

.img-color {
    color: white;
}

.button-color {
    background-color: white;
    color: black;
    border-color: lightgray;
}

.border-black {
    color:black;
}

.card-color{
    color: lightgrey;
}

.icon-color {
    color:white;
    border-color: black;
}
.container-color{
    color: black;
}

.follow-color{
    color: white;
}

.col-color{
  background-color: black
}


.mx-auto {
    min-width: 100%;
}

.cog-color {
    color: white;
}


.text-color {
    color:darkgray;
}

.text-detail-color {
    color:white;
}

.magnifying-glass {
    position: absolute;
    padding-left: 12px;
    margin-top:11px;
    color: dimgray;
}


.position-search {
    padding-left: 36px;
    background-color: #222;
    color: dimgray;
    border: none;
}

.caption {
    font-size: 20px;
    color: black;
    margin-bottom: 12px;
}